<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="list-group">
        <a class="list-group-item list-group-item-action"
           *ngFor="let volunteer of volunteers"
        (click)="selectVolunteer(volunteer)">
          <h5><i class="fa fa-male" aria-hidden="true"></i> {{volunteer.name}}</h5>
        </a>
      </div>
    </div>
    <div class="col-md-8">
      <app-volunteer-detail [volunteer]="selectedVolunteer"></app-volunteer-detail>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success">
        <i class="fa fa-plus" aria-hidden="true"></i> New
      </button>
      <button class="btn btn-outline-info">
        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
      </button>
      <button class="btn btn-outline-danger">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </button>
    </div>
  </div>
</div>
