<div class="container">
  <div class="row">
    <div class="col-md-4">
      <ul>
        <label>Volunteers:</label>
        <li class="list-group-item">
          <i class="fa fa-male" aria-hidden="true"></i> Volunteer 1</li>
      </ul>
    </div>
    <div class="col-md-8">
      <app-volunteer></app-volunteer>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success">
        <i class="fa fa-plus" aria-hidden="true"></i> New
      </button>
      <button class="btn btn-outline-info">
        <i class="fa fa-pencil" aria-hidden="true"></i> Edit
      </button>
      <button class="btn btn-outline-danger">
        <i class="fa fa-trash-o" aria-hidden="true"></i> Delete
      </button>
    </div>
  </div>
</div>
