<div *ngIf="volunteer">
  <div class="row" >
    <div *ngIf="!isUpdateable" class="card col-md-6">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Name: {{volunteer.name}}</li>
        <li class="list-group-item">Email: {{volunteer.email}}</li>
        <li class="list-group-item">Phone: {{volunteer.phone}}</li>
      </ul>
    </div>
    <div *ngIf="isUpdateable" class="card col-md-6">
      <form (ngSubmit)="updateVolunteer()" [formGroup]="volunteerGroup" novalidate>
        <div class="form-group">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Name: <input class="form-control" type="text" formControlName="name" placeholder="{{volunteer.name}}"
                           [ngClass]="{
          'is-invalid':isInvalid('name'),
          'is-valid':isValid('name')}">
            </li>
            <li class="list-group-item">
              Email: <input class="form-control" type="text" formControlName="email" placeholder="{{volunteer.email}}"
                            [ngClass]="{
          'is-invalid':isInvalid('email'),
          'is-valid':isValid('email')}">
            </li>
            <li class="list-group-item">
              Phone: <input class="form-control" type="text" formControlName="phone" placeholder="{{volunteer.phone}}"
                            [ngClass]="{
          'is-invalid':isInvalid('phone'),
          'is-valid':isValid('phone')}">
            </li>
          </ul>
          <div>
            <button type="submit" [disabled]="volunteerGroup.invalid" class="btn btn-outline-success">Save</button>
            <button type="button" class="btn btn-outline-warning" (click)="cancelUpdate()">Cancel</button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <img src="http://via.placeholder.com/150x150" alt="..." class="img-thumbnail">
    </div>

  </div>
  <div class="row" >
    <div class="col-md-6">
    </div>

    <div class="col-md-6">

      <app-volunteer-guilds [guilds]="guildsOnVolunteer"></app-volunteer-guilds>
    </div>
  </div>
</div>
