<div class="row">
  <form class="col-md-6">
    <div class="form-group">
      <label class="col-md-12">Firstname:</label>
      <input class="form-control" type="text" placeholder="Lars">
      <label class="col-md-12">Lastname:</label>
      <input class="form-control" type="text" placeholder="Bilde">
      <label class="col-md-12">Email:</label>
      <input class="form-control" type="text" placeholder="l@email.dk">
      <label class="col-md-12">Phone:</label>
      <input class="form-control" type="text" placeholder="+4512345678">
    </div>
  </form>
  <div class="col-md-6">
    <img src="http://via.placeholder.com/150x150" alt="..." class="img-thumbnail">
  </div>
</div>

