<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div *ngIf="guilds.length > 0; else noGuilds"
           class="list-group">
        <a class="list-group-item list-group-item-action"
            *ngFor="let guild of guilds; let i = index"
            (click)="selectGuild(guild, i)"
            [class.active]="i == selectedRow">
          <h5>
            <i class="fa fa-users" aria-hidden="true"></i> {{guild.name}}
            <button class="btn btn-outline-danger pull-right"
            (click)="deleteGuild($event, guild)">
              <i class="fa fa-trash-o" aria-hidden="true"></i>
            </button>
            <button class="btn btn-outline-warning pull-right"
            (click)="setUpdate($event)">
              <i class="fa fa-pencil" aria-hidden="true"></i>
            </button>
          </h5>
        </a>
      </div>
      <ng-template #noGuilds>
        <h1>
          No guilds!
        </h1>
      </ng-template>
    </div>
    <div class="col-md-8">
      <app-guild-detail [guild]="selectedGuild" [isUpdateable]="isUpdateClicked"></app-guild-detail>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-success"
              routerLink="/guild/create">
        <i class="fa fa-plus" aria-hidden="true"></i>
        New
      </button>
    </div>
  </div>
</div>
