<div class="container">
  <div class="row">
    <div class="col-md-4">
      <button class="btn btn-outline-info"
              routerLink="/guildmanagers">Back</button>
    </div>
    <!--<div class="col-md-4">-->
      <!--<h4>Selected Guild</h4>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<h4>Available Guild</h4>-->
    <!--</div>-->
  </div>
  <div class="row">
    <div class="col-md-4">
      <form (ngSubmit)="saveGuildManager()"
            [formGroup]="guildManagerGroup" novalidate>
        <div class="form-group">
          <input class="form-control form-control-lg"
                 formControlName="name"
                 type="text"
                 placeholder="Enter GM name"
                 [ngClass]="{
          'is-invalid':isInvalid('name'),
          'is-valid':isValid('name')}">
          <input class="form-control"
                 formControlName="email"
                 type="text"
                 placeholder="Enter GM email"
                 [ngClass]="{
          'is-invalid':isInvalid('email'),
          'is-valid':isValid('email')}">
          <button class="btn btn-outline-danger pull-right"
                  routerLink="/guildmanagers">Cancel</button>
          <button class="btn btn-outline-success pull-right"
                  [disabled]="guildManagerGroup.invalid"
                  type="submit">Create</button>
        </div>
      </form>
    </div>
    <!--<div class="col-md-4">-->
      <!--<ul class="list-group" *ngFor="let guild of selectedGuilds; let i = index">-->
        <!--<li class="list-group-item" (click)="unselectGuild(guild, i)">-->
          <!--{{guild.name}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
    <!--<div class="col-md-4">-->
      <!--<ul class="list-group" *ngFor="let guild of availableGuilds; let i = index">-->
        <!--<li class="list-group-item" (click)="selectGuild(guild, i)">-->
          <!--{{guild.name}}-->
        <!--</li>-->
      <!--</ul>-->
    <!--</div>-->
  </div>
</div>
