<div class="container pull-right">
  <h1>
    Welcome!
  </h1>
  <button class="btn btn-outline-success">
    <i class="fa fa-bath" aria-hidden="true"></i> YES!</button>
  <h2>Made by DeFireFlotteFyre!</h2>
  <div>
    <div style="display: block">
      <canvas baseChart
              [datasets]="barChartData"
              [labels]="barChartLabels"
              [options]="barChartOptions"
              [legend]="barChartLegend"
              [chartType]="barChartType"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)"></canvas>
    </div>
    <button (click)="randomize()">Update</button>
  </div>
</div>
